.alert {
    padding: var(--space-s);
    border-radius: var(--br);
    border-style: solid;
    border-width: 2px;
    max-inline-size: var(--max-width);
}

.alert + * {
    margin-block-start: var(--space-m);
}

.alert--error {
    background-color: var(--c-state-error-light);
    border-color: var(--c-state-error);
}

.alert :first-child {
    margin-block-start: 0;
}

.alert :last-child {
    margin-block-end: 0;
}