@layer settings, base, utilities, theme;

@import 'variables' layer(settings);
@import 'media' layer(settings);
@import 'fonts' layer(settings);

@import 'reset' layer(base);
@import 'base' layer(base);

@import 'alert' layer(utilities);
@import 'result' layer(utilities);