:root {
    --font: 'DM Sans', system-ui;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;
    --fw-black: 900;

    --space-xl: 64px;
    --space-l: 48px;
    --space-m: 32px;
    --space: 24px;
    --space-s: 16px;
    --space-xs: 8px;
}