---json
{
    "layout": "base.njk",
    "eleventyComputed": {
        "title": "{{ questionnaire.title }}"
    },
    "description": "",
    "pagination": {
        "data": "questionnaires",
        "alias": "questionnaire",
        "size": 1
    },
    "permalink": "/screening/{{ questionnaire.id }}/"
}
---
{% from "macros/renderQuestionnaire.njk" import renderQuestionnaire %}

<p>
    <a href="/">
        Back to dashboard
    </a>
</p>

{{ renderQuestionnaire(questionnaire) }}

<p>
    <a href="/">
        Back to dashboard
    </a>
</p>

<script type="module" src="{{ jsPath | default('/js/screening.js') }}"></script>